<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>TAC Tools</title>
    </head>
    <link href="static/css/tactools_style.css" type="text/css" rel="stylesheet" />
    <body>

<div class="container" align="center">


  <h1>Ruckus TAC Tools</h1>
  <br>
  <p class="tacmain"> This page contains software tools primarily for support, to help debug
    and diagnose customer problems.</p>
  <p class="tacmain"> These links are tools to decode ICX stack traces. Supported format is
    'dm save', 'dm mem-leak' or 'dm sample'.</p><p class="tacmain"> The sample output
    can either be inputted via cut and paste, or uploaded as a file:</p>
    <br>
  <a href="http://{{ baseurl }}.ngrok.io/text_decode">Dm Save/Dm Mem-leak decoder (upload a file)</a>
  <br>
  <a href="http://{{ baseurl }}.ngrok.io/text_decode_nofile">Dm Save/Dm mem-leak decoder (paste output)</a>
  <br>
  <br>
  <p class="tacmain"> (Don't Use)The supportsave Core file decoder decodes binary 'ss_core_*' files:</p>
  <a href="http://{{ baseurl }}.ngrok.io/icx_decoder">Supportsave Corefile decoder (SymbolTable search)</a>
  <br>
  <br>
  <p class="tacmain"> The supportsave GDB file decoder decodes binary 'ss_core_*' files:</p>
  <a href="http://{{ baseurl }}.ngrok.io/gdb_decoder">Supportsave Corefile decoder (GDB)</a>
  <br>
  <br>

  <h4> Any questions about these tools, please contact Lauren Miller:
  <a href="mailto:lmiller@arris.com">Email</a></h4>
</div>
</body>
</html>
