<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>GDB Decoder</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <link href="static/css/tactools_style.css" type="text/css" rel="stylesheet" />
    <body>


<div class="container">


  <br><h2>Ruckus ICX Corefile Decoder </h2><br><br>

  <p> This tool will extract the gdb backtrace from a supportsave core-file.</p>

  <form  action="http://{{ baseurl }}.ngrok.io/gdb_decoder" method="POST" role="form" enctype = "multipart/form-data">
    {{ form.csrf }}
    <p>
    Instructions:<br>
    1) Select Correct Code Image from pulldown menu's:<br>
        (If special code, select SPECIAL from third field and the patch
             letter from the fourth field)<br>
    2) Choose whether to include Jira query on output (strongly not recommended for corefiles!)
           (This will add extra delay to the result due to the Jira query).<br>
    3) Select the supportsave core file (in either .gz or uncompressed format - doesn't matter, although
           uncompressed is much slower due to transfer size) using the 'Choose File' button.<br>
    4) Select Submit, and wait for decode results to be displayed (may take 10 to 60 seconds
           after transfer). </p><br>

    <table>
      <tr><td>
    <div class="form-group">
      {{ form.mapFile_1 }}
      </td></div>
      <td><div class="form-group">
        {{ form.mapFile_2 }}
      </td></div>
      <td><div class="form-group">
        {{ form.mapFile_3 }}
      </td></div>
      <td><div class="form-group">
        {{ form.mapFile_4 }}
      </td></div>
    </table>
      {{ form.do_jira.label }}{{ form.do_jira}}
      <div class="form-group">
      <label for="stack">Stack Trace:</label>
      <input type="file" id="file" name="file" placeholder="Stack decode goes here"/>
      <br>
      <input type="submit"/>
      <br><br><br>
    </div>
  </form>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
</div>
<br>
</div>
</div>
</body>
</html>
