<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Stack Decoder</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <link href="static/css/tactools_style.css" type="text/css" rel="stylesheet" />
    <body>


<div class="container">


  <h2>Ruckus Script Generator</h2>

  <form  action="http://{{ baseurl2 }}/scriptgen" method="POST" role="form" enctype = "multipart/form-data">
    {{ form.csrf }}
    <br><br>
    <!-- <table>
      <tr><td>
    <div class="form-group">
      <h5>&ensp;Target IP:</h5><label>&nbsp;</label> {{ form.target_ip }}
    </td></div>
      <td><div class="form-group">
        <h5>&ensp;Username:</h5><label>&nbsp;</label> {{ form.username}}
      </td></div>
      <td><div class="form-group">
        <h5>&ensp;Password:</h5><label>&nbsp;</label>{{ form.password }}
      </td></div>
      <td><div class="form-group">
        <h5>&ensp;Enable Password:</h5><label>&nbsp;</label>{{ form.enable }}
      </td></div>
    </table> -->

        <div class="form-group">
          
     {% for field in form %}

       {% if field.type == "RadioField" %}

           {{ field.label }} {{ field }}


       {% else %}
     </td>
          <table>
          <td>{{ field.label}}</td>
          <td>{{ field }}</td>
        </table>
       {% endif %}

     {% endfor %}

   <input type="submit"/></form>
</div>
</body>
</html>
