<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Stack Decoder Results</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <body>
      <div class="container">
    <h2>Script Result:</h2>
#!/bin/expect -f

set force_conservative 0  ;# set to 1 to force conservative mode even if
                          ;# script wasn't run conservatively originally
if {$force_conservative} {
        set send_slow {1 .1}
        proc send {ignore arg} {
                sleep .1
                exp_send -s -- $arg
        }
}

set timeout -1
spawn $env(SHELL)
match_max 100000
expect "$ "
send -- "ssh -l lauren 192.168.100.148\r"
expect "assword:"
send -- "lauren\r"
expect ">"
send -- "en\r"
expect "#"
send -- "sh cpu\r"
expect "#"
send -- "sh ver\r"
expect "#"
send -- "exit\r"
expect ">"
send -- "exit\r"
expect "$ "
send -- "exit\r"
expect eof
            <table border = 0>
            {% for entry in result %}
                  <tr>
                     <td> {{entry|safe}} </td>
                  </tr>
            {% endfor %}
            </table>
      </div>
    </body>
</html>
