<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Stack Decoder</title>
       <link rel="stylesheet" media="screen" href ="static/css/bootstrap.min.css">
       <link rel="stylesheet" href="static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">

    </head>
    <link href="static/css/tactools_style.css" type="text/css" rel="stylesheet" />
    <body>


<div class="container">


  <br><h2>Ruckus Stacktrace Decoder</h2>
  <br>
  <p>Step 1: Select Code version from drop-down menus</p>
  <p>Step 2: Cut and paste your 'dm mem-leak/save/sample' output into the box</p>
  <p>Step 3: Click on submit!</p>

  <form  action="http://{{ baseurl }}.ngrok.io/text_decode_nofile" method="POST" role="form" enctype = "multipart/form-data">
    {{ form.csrf }}
    <table>
      <tr><td>
    <div class="form-group">
      {{ form.mapFile_1 }}
      </td></div>
      <td><div class="form-group">
        {{ form.mapFile_2 }}
      </td></div>
      <td><div class="form-group">
        {{ form.mapFile_3 }}
      </td></div>
      <td><div class="form-group">
        {{ form.mapFile_4 }}
      </td></div>
    </table><table>
    </tr><td><div class="form-group">
        {{ form.do_jira.label }}{{ form.do_jira}}

        {{ form.stack_output(rows='40',cols='100') }}
      </td></tr><tr>
      <br><td>
      <input type="submit"/>
    </td></tr>
    </div>
  </table>
  </form>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}

        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}

            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
</div>
<br>
</div>
</div>
</body>
</html>
